p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: bold;
}

.ul,li{
    height: 100%;
}

/* 定义凝胶布局 */
.inner
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

/* 定义页眉区每一列的主标题 */
.title{
    font-family: miso-bold;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}


/* 定义首页正文中位于左边内容区的字体样式 */
.paragraph_font{
    text-align: left;
    /* text-indent: 2em; */
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

/* 定义首页正文中位于右边内容区的字体样式 */
.paragraph_font1{
    text-align: right;
    /* text-indent: 2em; */
    color: rgb(41, 20, 20);
    padding-left: 10px;
    padding-right: 10px;
}


/* 定义导航栏的字体位置 */
nav{
    width: 100%;
    background-color: #228dd4;
    height: 50px;

    /* 导航栏运用fixed定位，相对于浏览器页面永远固定 */
    position: fixed;    
    /* 导航栏使用了fixed定位，有可能被其他float元素遮挡，将堆叠顺序提高，防止被覆盖 */
    z-index: 999;
}

/* 导航栏的按钮右对齐 */
nav ul{
    text-align: right;
    height: 100%;
}

/* 导航栏列表横向排列*/
nav ul li{
    display: inline-block;
    text-decoration: none; 
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

/*导航栏文字*/
nav ul li a{
    display: block; 
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 50px;
    color: rgb(0, 0, 0);
}

/* 导航栏的图标样式 */
.navicon{
    display: inline;
    float: left;
    height: 100%;
}

/* 导航语 */
.navigation{
    line-height: 50px;
    display: inline;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: white;
}

/*页眉*/
header{
    width: 100%;
    text-align: center;
    height: auto;
}


/* 定义位于每页中间的大标题 */
#cutline{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7bcaff;
    border-width: 1px;
    border-style: dashed;
    border-color: #0e1316;
}

/* 主内容区 */
.main{
    width: 100%;
    
    background-image: url(../主页/image/background.jpg);
    
    padding-bottom: 50px;
    padding-top: 50px;
}

.container1{
    width: 100%;
}

.container1_left{
    height: 250px;
    width: 50%;
    display: inline-block;
}

.container1_right{
    float: right;
    width: 50%;
    height: 250px;
}

.container1_title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.container1_title1{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}

footer{
    background-color: #b3d6e2;
    position: relative;
    width: 100%;
}

/* 定义页脚区总容器 */
.footer-container{
    background-color: #c5daf1;
    position: relative;
    /* 遮挡住溢出的元素 */
    overflow:auto;

    /* 也是一种凝胶布局 */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 定义页脚的列 */
.footer-col{
    position: relative;
    width: 370px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* padding-left: 20px; */
    float:left;
}


